.env
db.sqlite3
__pycache__
*/__pycache__
*/__init__.py
app/__pycache__
app/migrations
app/views/__pycache__
app/templatetags/__pycache__
views/__init__.py
bot/__pycache__
imzo/__pycache__
imzo/__init__.py
staticfiles
files/excel/*
filebot
tutorials
test_parsing.py